# R stuff
Rout/
.R.Rout
.Rproj.user
.Rhistory

# data files
data/*.rds
results/
subsets/

# conquer output
output/
figures/
color_definitions.txt

# RMarkdown output
analysis/*_cache
analysis/*_files
analysis/*.html

